<li>
    {{burger_name}}

    {{!-- <button class="devour-burger," data-id="{{id}}" data-newDevoured="{{devoured}}">
        {{#if devoured}}""{{else}}Devour It!{{/if}}
    </button> --}}
    <button class="devour-burger," data-id="{{id}}" data-newDevoured="{{devoured}}">
        DEVOUR IT!
    </button>

</li>