<li>
    {{burger_name}}

    <button class="eat-burger," data-id="{{id}}" data-newDevoured="{{devour}}">
        {{#if devoured}}""{{else}}Devour It!{{/if}}
    </button>
    {{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}

</li>